<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<td class="main">

<td class="sidebar round">
  <strong>Cameras</strong> <%= @user.cameras.count %>
</td>

<% if @user.cameras %>
  <table class="cameras" summary="User cameras">
    <%= render @cameras %>
  </table>
  <%= will_paginate @cameras %>
<% end %>
</tb>


<%= form_for(@camera) do |f| %>

  <div class="field">
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


<td class="sidebar round">
  <strong>My Subscribers</strong> <%= @user.owner_subscribes.count %>
</td>

<% if @user.owner_subscribes %>
  <table class="subscribes" summary="User subscribes">
    <%= render  partial:'subscribes/owner',collection:@owner %>
  </table>
  <%= will_paginate @owner %>
<% end %>
</tb>



<td class="sidebar round">
  <strong>Subscribing</strong> <%= @user.subscriber_subscribes.count %>
</td>

<% if @user.subscriber_subscribes != [] %>
  <table class="subscribe" summary="User subscribes">
    <%= render partial: 'subscribes/subscriber',collection:@subscriber %>
  </table>
  <%= will_paginate @subscriber %>
<% end %>
</tb>

