<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email%>
</p>

<td class="main">


<!--camera list link-->
<p>
<td class="sidebar round">
<%= link_to   raw("<strong>Cameras List</strong>"),
 {:controller => "users", :action => "camera_info", :user => @user }%>
  <%= @user.cameras.count %>
</td> 
</p>
<!--
<% if @user.cameras %>
  <table class="cameras" summary="User cameras">
    <%= render @cameras %>
  </table>
  <%= will_paginate @cameras %>
<% end %>
</tb>


<%= form_for(@new_camera) do |f| %>

  <div class="field">
    <%= f.label "camera name" %>
    <%= f.text_field :name %>
    <%= CamerasController.set_user @user %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
-->

<!--subscriber list link-->
<p>
<td class="sidebar round">
  <%= link_to  raw("<strong>Subscribers List</strong>"), 
   {:controller => "users", :action => "subscriber_info", :user => @user }%>
  <%= @user.owner_subscribes.count %>
</td>
</p>

<!--


<%= form_tag "/subscribes" do %>

  <div class="field">
    <% SubscribesController.set_owner(@user)%>
    <%= label_tag "nick name" %>
    <%= text_field_tag :nickname %>
    <%= label_tag "email" %>
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
-->

<!--subscribing list link-->
<p>
<td class="sidebar round">
   <%= link_to  raw("<strong>Subscribing List</strong>"), 
   {:controller => "users", :action => "subscribing_info", :user => @user.id }%>
  <%= @user.subscriber_subscribes.count %>
</td>
</p>

<!--
<% if @user.subscriber_subscribes != [] %>
  <table class="subscribe" summary="User subscribes">
    <%= render partial: 'subscribes/subscriber',collection: @subscriber %>
  </table>
  <%= will_paginate @subscriber %>
<% end %>
</tb>
-->

<!--shared camera list link-->
<p>
<td class="sidebar round">
   <%= link_to  raw("<strong>Shared Camera List</strong>"), 
   {:controller => "users", :action => "shared_camera_info", :user => @user.id }%>
  <%= shared_camera_count(@user) %>
</td>
</p>

<!--
<% @shared_camera %>
  <table class="subscribes" summary="User subscribes">
    <%= render  partial:'shares/share_info',collection: @shared_camera, as: :camera %>
  </table>
</tb>
-->