<p id="notice"><%= notice %></p>

<p>
  <b>Camera Name:</b>
  <%= @camera.name %>
</p>

<% if @camera.subscribes %>
<table class="cameras" summary="User cameras">
    <tr>
        <th>Owner Name</th>
        <th>Email</th>
    </tr>
    <%= render @user %>
</table>

<table class="cameras" summary="User cameras">
    <tr>
        <th>Owner's Subscriber</th>
        <th>Subscriber's Email</th>
    </tr>
    <%= render  partial:'subscribes/owner_info_only',collection:@owner %>
</table>
<% end %>
<!--
<td class="sidebar round">
  <strong >Shared subscriber</strong> <%= @camera.shares.count %>
</td>
-->
<% if @camera.shares %>
  <table class="shares"  summary="Camera share">
    <tr>
        <th>Shared Nickname</th>
        <th>Email</th>
    </tr>
    <%= render @shares %>
  </table>
  <%= will_paginate @shares %>
<% end %>
</tb>

<%= form_tag "/shares" do %>

  <div class="field">
    <%= label_tag "add new sharing camera email" %>
    <%= text_field_tag :email %>
    <%= SharesController.set_camera_id @camera.id %>
    <%= submit_tag "Add" %>
  </div>

<% end %>