<!DOCTYPE html>
<html>
<head>
  <title>Rails3Hw2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>

  <div class="container"> <header>
    <ul>
      <li><%= link_to "Home", users_path %></li>
    </ul> 
  </nav>
  </header>
  <section class="round">

</body>
</html>
